{% extends "layout.html" %}

{% block title %}
    Главная
{% endblock %}

{% block main %}
<head>
    <style>
        button {width: 350px;}
        
    </style>
</head>

<div class="route">
    <a href="/">Главная</a> - Скачать
</div>


<div style="width: 100%;">
   

    <form action="/download" method="post">
        <input type="hidden" value="summary" name="download_file">
        <input type="hidden" value="var1" name="var">
        <button class="btn btn-primary">Скачать итоговую таблицу (вариант 1)</button>
    </form>
    <p></p>
    <form action="/download" method="post">
        <input type="hidden" value="summary" name="download_file">
        <input type="hidden" value="var2" name="var">
        <button class="btn btn-primary">Скачать итоговую таблицу  (вариант 2)</button>
    </form>
    <p></p>
    
</div>
{%endblock%}