{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}

<div class="route">
    <a href="/">Главная</a> - <a href="/users">Пользователи</a> - Редактировать
</div>

    <table class="table table-striped" style="margin-top: 2%;">
        <thead>
            <tr> 
                <th>Подразделение</th>
                <th >Email руководителя</th>
                <th>Статус</th>
                <th>Должность</th>
                <th>ФИО</th>
                <th>Почта</th>
                <th>Пароль</th>
            </tr>
        </thead>
    
        <tbody>
            <form action="/edit" method="post" name="edit" onsubmit="return show_alert('Сохранить изменения?')">
            <tr> 
                <input type="hidden" value="save" name ="flag">
                <input type="hidden" value="{{ id }}" name ="id">
                <td><input class="input edit" autocomplete="off" id="department" name="department"  value="{{ department }}" type="text"  minlength="" maxlength="30"></td>
                <td><input class="input edit" autocomplete="off" id="reports_to" name="reports_to"  value="{{ reports_to }}" type="text"  minlength="" maxlength="30"></td>
                <td><input class="input edit" autocomplete="off" id="status" name="status"  value="{{ status }}" type="text"  minlength="3" maxlength="30" required></td>
                <td><input class="input edit" autocomplete="off" id="position" name="position"  value="{{ position }}" type="text"  minlength="3" maxlength="30" required></td>
                <td><input class="input edit" autocomplete="off" id="name" name="name"  value="{{ name }}" type="text"  minlength="3" maxlength="30" required></td>
                <td><input class="input edit" autocomplete="off" id="mail" name="mail"  value="{{ mail }}" type="email"  minlength="3" maxlength="30" required ></td>
                <td><input class="input edit"autocomplete="off" id="hash" name="hash" type="text"  minlength="6" maxlength="30"></td>
            </tr>
        </tbody>
    </table>
                <div class="box">
                    <div><button class="btn btn-primary" type="submit" id="button">Сохранить</button></div>
                    <div><button class="btn btn-primary"  type="reset" onclick="return show_alert('Отменить изменения?')">Сбросить</button></div>
            </form>
                    <div>
                        <form action="/delete" method="post" name="delete" >
                        <input type="hidden" value="{{ id }}" name ="id">
                        <button class="btn btn-primary"  type="submit" onclick="return show_alert('Удалить пользователя?')">Удалить</button>
                        </form>
                    </div>
                    <dev><a href='/users'><button class="btn btn-primary" style="border-color: blue;" type="button" onclick="return show_alert('Изменения не будут сохранены. Вы уверены, что хотите вернуться назад?')">Назад</button></a></dev>
                </div>

    
    <script>
   
    </script>
{% endblock %}
