{% extends "layout.html" %}

{% block title %}
    Главная
{% endblock %}

{% block main %}
<head>
    <style>
        button {width: 350px;}
        
    </style>
</head>

<div class="route">
    <a href="/">Главная</a> 
</div>


<div style="width: 100%;">
   
    <form action="/users" method="get">
        <button class="btn btn-primary">Все участники</button>
    </form>
    <p></p>
    <form action="/file_users" method="get">
        <button class="btn btn-primary">Загрузить сотрудников файлом</button>
    </form>
    <p></p>
    <form action="/mail_manager" method="get">
        <button class="btn btn-primary">Отправить сообщение участиникам</button>
    </form>
    <p></p>
    <form action="/summary" method="get">
        <button class="btn btn-primary">Итоговая</button>
    </form>
    <p></p>
    <form action="/settings" method="get">
        <button class="btn btn-primary">Настройки</button>
    </form>
    <p></p>
    <form action="/download" method="get">
        <button class="btn btn-primary">Скачать</button>
    </form>
    <p></p>
    {%if status == 'admin'%}
    <p></p>
    <form action="/log_table" method="get">
        <button class="btn btn-primary">Log</button>
    </form>
    <p></p>
    <form action="/login_test" method="get">
        <button class="btn btn-primary">Login test</button>
    </form>
    <p></p>
    {%endif%}
    
</div>
   
{% endblock %}
