{% extends "layout.html" %}

{% block title %}
    Log In
    
{% endblock %}

{% block main %}
<head>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
            document.getElementById("id_token").value = token;
            document.getElementById("form").submit();
        }
      </script>
</head>
<body>
    
<div class="login_text">
    <h3>Приветствую Вас на сайте проекта «СТАНДАРТЫ ПРОДАЖ»!<br>
        <p></p>Здесь Вы познакомитесь с важной информацией по теме, заполните небольшую анкету и сможете задать уточняющие вопросы.<br>
        <p></p>
        Добро пожаловать!
        <br></h3>
 </div>

 <div>

    {% if form %}
    <form action="login" method="post">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="mail" name="mail" placeholder="Логин" type="text" required>
            <br>
            <input class="form-control mx-auto w-auto" id="hash" name="hash" placeholder="Пароль" type="password" required>
            <br>
            <input name="recaptcha" value="recaptcha_2" type="hidden">
        <div class="box" style="margin-bottom: 0%;">
                {{ form.csrf_token }}	
                {{ form.recaptcha }} 
            </div>
        <button class="btn btn-primary" type='submit'>Нажмите, чтобы начать доп</button>
       
    </form>
    {% else %}
    <form action="login" method="post" id="form">
         <div class="mb-3" style="margin-top:30px;">
             <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="mail" name="mail" placeholder="Логин" type="text" required>
         </div>
         <div class="mb-3">
             <input class="form-control mx-auto w-auto" id="hash" name="hash" placeholder="Пароль" type="password" required>
         </div>
         <button class="g-recaptcha btn btn-primary" data-sitekey="{{key}}"  data-callback='onSubmit' data-action='submit'>Нажмите, чтобы начать</button>
         </div>
        </div> 
        <input type="hidden" name="id_token" id="id_token">
     </form>
 </div>
{%endif%}
</body>
{% endblock %}

