{% extends "layout.html" %}

{% block title %}
    Log In
    
{% endblock %}

{% block main %}


<div class="login_text">
    <h3>Добро пожаловать<br>    
     в проект «Развитие компетенций сотрудников back-office»<br> компании Borusan Cat Казахстан!</h3>
 </div>

 <div>
      <form action="/login" method="post" >
         <div class="mb-3" style="margin-top:30px;">
             <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="mail" name="mail" placeholder="Логин" type="text">
         </div>
         <div class="mb-3">
             <input class="form-control mx-auto w-auto" id="hash" name="hash" placeholder="Пароль" type="password">
         </div>
         <div class="box">
            <div>
                {{ form.csrf_token }}	
                {{ form.recaptcha }} 
            </div><br>
         <div>
            <button class="btn btn-primary" type="submit">Нажмите, чтобы начать</button>
         </div>
        </div> 
     </form>
 </div>

 <div id="cookie_notification">
    <p>Для улучшения работы сайта и его взаимодействия с пользователями мы используем файлы cookie. Продолжая работу с сайтом, Вы разрешаете использование cookie-файлов. Вы всегда можете отключить файлы cookie в настройках Вашего браузера.</p>
    <button class="button cookie_accept">Принять</button>
</div>
    
{% endblock %}
