<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/favicon.ico" rel="icon">
        <title>STI-Partners</title>
    </head>
    <body>
        <p>Уважаемый {{user_name}},</p>
        <p>Для доступа к проекту <a href="https://sti-sales.herokuapp.com">STI-Partners</a> используте пароль:<br>{{user_password}}</p>

        <p style="margin-top: 1%;">
        --<br>
        C уважением,<br>
        STI Partners</p>
    </body>
</html>
    