<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/favicon.ico" rel="icon">
        <title>STI-Partners</title>
    </head>
    <body>
        <p>Уважаемый {{user_name}},<br>
        Пожалуйста, заполните анкету на сайте семинара до 17 октября 2022 г. <br>
        Мне еще нужно успеть обработать данные всех участников. <br>
        <b>Используйте новый пароль из этого письма. </b><br>
        Сайт: <a href="https://sti-sales.herokuapp.com">STI-Partners.</a><br> 
        Используйте логин: {{user_mail}} и пароль: {{user_password}}
        </p>
    

        <p style="margin-top: 1%;">
            --<br>
            C уважением,<br>
            Татьяна Астраленко, STI<br>
            +7 903 128 00 77<br>
            t.astralenko@sti-partners.ru
        </p>
    </body>
</html>
