{% extends "layout.html" %}

{% block title %}
    Востановить пароль
    
{% endblock %}

{% block main %}


<h5>Пожалуйста, укажите адрес вашей электронной почты и нажмите на кнопку "Запросить".</p>
<h5>Если вы зарегистрированы в системе, то новый пароль придет на адрес вашей электронной почты.</p>

<div>
    <form action="/reset_password" method="post" >
        <div class="mb-3" style="margin-top:30px;">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="mail" name="username" placeholder="Email" type="text">
        </div>
        <div class="box">
            <div>
                {{ form.csrf_token }}	
                {{ form.recaptcha }} 
            </div><br>
            <div>
                <button class="btn btn-primary" type="submit">Запросить</button>
            </div>
        </div>
    </form>
</div>


    

    
{% endblock %}
