{% extends "layout.html" %}

{% block title %}
    Востановить пароль
    
{% endblock %}

{% block main %}

<head>
    <script src="https://www.google.com/recaptcha/api.js"></script>
     <script>
        function onSubmit(token) {
          document.getElementById("form").submit();
        }
      </script>
  </head>

  <body>
    
<h5>Пожалуйста, укажите адрес вашей электронной почты и нажмите на кнопку "Запросить".</p>
<h5>Если вы зарегистрированы в системе, то новый пароль придет на адрес вашей электронной почты.</p>

<div>
    <form action="/reset_password" method="post" id="form">
        <div class="mb-3" style="margin-top:30px;">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="mail" name="username" placeholder="Email" type="text">
        </div>  
        <button class="g-recaptcha btn btn-primary" 
        data-sitekey="6LdoXckhAAAAAIGpoFflYCx7x36jGdtWxn_tSsSd" 
        data-callback='onSubmit' 
        data-action='submit'>Запросить</button>     
    </form>
</body>
</div>


    

    
{% endblock %}
