{% extends "layout.html" %}

{% block title %}
    Востановить пароль
    
{% endblock %}

{% block main %}

<head>
    <head>
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script>
            function onSubmit(token) {
                document.getElementById("id_token").value = token;
                document.getElementById("form").submit();
            }
          </script>
    </head>

  <body>
    
<h5>Пожалуйста, укажите адрес вашей электронной почты и нажмите на кнопку "Запросить".</p>
<h5>Если вы зарегистрированы в системе, то новый пароль придет на адрес вашей электронной почты.</p>

    <div>

        {% if form %}
        <form action="/reset_password" method="post">
            <div class="mb-3" style="margin-top:30px;">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="mail" name="username" placeholder="Email" type="text">
            </div>  
                <input name="recaptcha" value="recaptcha_2" type="hidden">
            <div class="box" style="margin-bottom: 0%;">
                    {{ form.csrf_token }}	
                    {{ form.recaptcha }} 
                </div>
            <button class="btn btn-primary" type='submit'>Нажмите, чтобы начать доп</button>
        </form>
        {% else %}
        <form action="/reset_password" method="post" id="form">
            <div class="mb-3" style="margin-top:30px;">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="mail" name="username" placeholder="Email" type="text">
            </div>  
            <button class="g-recaptcha btn btn-primary" data-sitekey="{{key}}" data-callback='onSubmit' data-action='submit'>Запросить</button>     
            <input type="hidden" name="id_token" id="id_token">
        </form>
     </div>
    {%endif%}


<div>
   
</body>
</div>


{% endblock %}
