{% extends "layout.html" %}

{% block title %}
    Сводная
{% endblock %}

{% block main %}

<div class="route">
    <a href="/">Главная</a> - Итоговая
</div>
<div class="box">
<div>
    <form action="/summary" method="post" name="search">
    <input type="hidden" name="flag" value="query">
    <div><input style="width: auto" autocomplete="off" id="query" name="query"  placeholder="почта для поиска" type="email"  maxlength="30" required></div>
    <div><button class="btn btn-primary" id="buttonAddHid" type="submit" style="display:block">Поиск</button></div>
    </form> 
    <div><form action="/summary" method="get" ><button class="btn btn-primary" type="submit" >Показать всех</button></form></div>
</div>
</div>

<h3>Вариант 1</h3>

<table class="table table-striped" style="table-layout: auto">
    <thead>
        <tr>
            <td>N</td>
            <td>Имя</td> 
            <td>Почта</td>
            <td>Вопрос 1</td>
            <td>Вопрос 2</td>
            <td>Вопрос 3</td>
            <td>Вопрос 4</td>
            <td>Вопрос 5</td>
            <td>Вопрос 6</td>
            <td>Вопрос 7</td>
        </tr>
    </thead>
    <tbody>
        
        {% for manager in allManagers %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{manager.1}}</td>
            <td>{{manager.2}}</td>
            <td>{% if manager.3 == None %} - {%else%} {{manager.3}} {%endif%}</td>
            <td>{% if manager.4 == None %} - {%else%} {{manager.4}} {%endif%}</td>
            <td>{% if manager.5 == None %} - {%else%} {{manager.5}} {%endif%}</td>
            <td>{% if manager.6 == None %} - {%else%} {{manager.6}} {%endif%}</td>
            <td>{% if manager.7 == None %} - {%else%} {{manager.7}} {%endif%}</td>
            <td>{% if manager.8 == None %} - {%else%} {{manager.8}} {%endif%}</td>
            <td>{% if manager.9 == None %} - {%else%} {{manager.9}} {%endif%}</td>
        </tr>{% endfor %}
    </tbody>
</table>

<!--
<h3 style="margin-top: 5%;">Вариант 2</h3>
    
        
        {% for manager in allManagers %}
     <form action="/summary" method="post">
        <input type="hidden" name="flag" value="results">
        <input name="user" value="{{manager.2}}" type="hidden">
        <button class="btn btn-primary" type="submit" style="margin-bottom: 0.2%;">{{ manager.2}}</button>
     </form><br>
        {% endfor %}
  
    -->


{% endblock %}