<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/favicon.ico" rel="icon">
        <title>STI-Partners</title>
    </head>
    <body>
        <p>Уважаемый {{user_name}},</p>
        <p>
            Приглашаю Вас на сайт семинара «СТАНДАРТЫ ПРОДАЖ»<br>
            Запаситесь временем (мин 30 минут), так как Вам будет необходимо заполнить анкету. <br>
            Вы можете пользоваться логином и паролем несколько раз, пока не завершите эту работу. Срок для выполнения этого задания - до 17 октября 2022 г. включительно.<br>
            Пожалуйста, отнеситесь ответственно. <br>
            Сайт:  <a href="https://sti-sales.herokuapp.com">STI-Partners.</a><br>
            Используйте логин: {{user_mail}} и пароль: {{user_password}}
        </p>

        <p style="margin-top: 1%;">
            --<br>
            C уважением,<br>
            Татьяна Астраленко, STI<br>
            +7 903 128 00 77 / astralenko@mail.ru<br>
            <img class="instr" src="static/whatsapp.jpg" style=" width: 25%; height: auto;">
            <img class="instr" src="static/telegram.jpg" style=" width: 25%; height: auto;">
        </p>
    
    </body>
</html>
    