<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/favicon.ico" rel="icon">
        <title>STI-Partners</title>
    </head>
    <body>
        <p>Уважаемый {{user_name}},</p>
        <p>
            Приглашаю Вас на сайт семинара «СТАНДАРТЫ ПРОДАЖ»<br>
            Запаситесь временем (мин 30 минут), так как Вам будет необходимо заполнить анкету. <br>
            Вы можете пользоваться логином и паролем несколько раз, пока не завершите эту работу. Срок для выполнения этого задания - до 17 октября 2022 г. включительно.<br>
            Пожалуйста, отнеситесь ответственно. <br>
            Сайт:  
            Используйте логин: ivan@example.com и пароль: xxxxxxxx
        </p>

        <p style="margin-top: 1%;">
        --<br>
        C уважением,<br>
        Татьяна Астраленко, STI <br>
        WhatsApp: +7 903 128 00 77<br>
        </p>
    </body>
</html>
    